/* Estilos gerais */
body {
  font-family: "Montserrat";
  margin: 0;
  padding: 0;
  background-color: #f0f4f8;
}

/* Estilos para o cabeçalho */
.right header {
  background-color: #083740;
  color: white;
  width: 50%;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
}

/* Estilos para o container principal */
.container {
  display: flex;
  height: 100vh; /* Altura total menos o cabeçalho e rodapé */
}

/* Estilos para o lado esquerdo com imagem */
.left {
  flex: 1;
  background: url('logo.jpg') no-repeat center center;
  background-size: cover;
}

.right {
  flex: 1;
  background-color: #083740;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.informacoes {
  color: #ffffff;
  margin-bottom: 20px;
  text-align: center;
}

.sensor-data {
  text-align: center;
  background-color: #ccefcc;
  color: #000000;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(177, 172, 172);
  height: 30%;
}

.right footer {
  background-color: #083740;
  color: white;
  text-align: center;
  padding: 10px;
  position: absolute;
  bottom: 0;
  width: 50%;
}

/* Container para o gráfico de pizza */
.pie-chart {
  position: absolute;
  z-index: auto;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: conic-gradient(#5ae0e7 0deg, #ffffff 0deg);
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
}

/* Texto central para exibir o percentual */
.pie-center {
  position: absolute;
  font-size: 24px;
  color: #333;
}

@media (max-width: 768px) {
  .container {
      flex-direction: column;
  }

  .left, .right {
      width: 100%;
  }
}